.venue-content {}
.venue-sidebar {}

.venue-content .post-title {
	background-color: #0c1f21;
	display: inline-block;
	padding: 8px 12px;
	margin-right: 8px;
	cursor: default;
}
.venue-content .hometown {
	background-color: #0c1f21;
	display: inline-block;
	padding: 8px 12px;
	margin-top: -12px;
	text-transform: uppercase;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	cursor: default;
}
.venue-sidebar-websites {
	word-break: break-word;
	font-size: 14px;
}