#woocommerce-order-totals,
.update-nag,
#edge-mode,
#postcustom,
.updated.fade,
#wc-order-custom-fields,
#woocommerce-order-downloads,
#footer-thankyou,
#order_data .order_data_column:last-child,
#order_data .order_data_column .form-field label[for="customer_user"],
.edit_address,
.edit_order_item,
#customer_user_chosen,
.note,
a.add-new-h2,
.handlediv,
{
	display: none;
}

#woocommerce-order-items {
	.add_items,
	.bulk_actions {
		display: none;	
	}

	.line_cost,
	.line_tax,
	.tax_class {
		display: none;
	}

	.quantity {
		font-size: 15px;
		font-weight: bold;
	}

	.name a {
		pointer-events: none;
	}
}

#woocommerce-order-actions {
	#actions {
		display: none;
	}
}


#woocommerce-order-notes {
	select {
		display: none;
	}
}

.address a {
	pointer-events: none;
}

.note.customer-note {
	display: block;
}


ul.subsubsub {
	display: none;
}

p.search-box {
	float: left;
	margin: 10px 0;
}

.widefat td, .widefat th {
	padding: 15px 10px;
}

#menu-posts-shop_order ul li:last-child {
	display: none;
}

.widefat .column-order_status mark {
	top: 10px;
}

.widefat .column-order_status mark.processing:after {
	color: white;
	background-color: #73a724;
	border-radius: 50%;
}
.widefat .column-order_status mark.failed:after {
	color: yellow;
	background-color: red;
	border-radius: 50%;
}

.widefat .column-order_status mark.refunded:after {
	color: yellow;
	background-color: red;
	border-radius: 50%;
}

#tiptip_holder {
	left: -80px;
}

form#posts-filter {
	.tablenav {
		clear: none;
		float: right;

		.actions {
			display: none;
		}
		
		.view-switch {
			display: none;
		}
	}

	table.wp-list-table {
		width: 200%;

		thead {
			#cb,
			#order_actions,
			#customer_message,
			#order_notes,
			#shipping_address {
				display: none;
			}
		}

		tbody {
			.check-column,
			.order_actions,
			.customer_message,
			.order_notes,
			.shipping_address {
				display: none;
			}

			td.column-order_title {
				width: 25%;
				font-size: 13px;
				font-weight: bold;
			}
		}

		tfoot {
			.column-cb,
			.column-order_actions,
			.column-customer-message,
			.column-order_notes,
			.column-shipping_address {
				display: none;
			}
		}
	}
}
