.radio-content {
	/* new styles */
	.wp-playlist-current-item {
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
	}
	.wp-playlist-tracks {
		font-family: 'Open Sans', sans-serif;
	}
	.wp-playlist-current-item img {
		background: #fff;
	}
	.wp-playlist-current-item .wp-playlist-item-title {
		font-size: 18px !important;
	}
	.wp-playlist-item-title {
		font-size: 14px !important;
	}

	.wp-playlist-item-artist {
		font-size: 14px !important;
	}
	.wp-playlist-item-meta {
		line-height: 1.3 !important;
		padding-right: 4px;
	}
	.wp-playlist-item-length {
		top: 7px !important;
	}

	.wp-playlist-item {
		padding: 8px 3px!important;
		border-bottom: 1px dashed #fff !important;
		color: #fff !important;
	}
	.wp-playlist-playing, .wp-playlist-item:hover {
		background: #3ea9b3 !important;
	}
	.wp-playlist-item .wp-playlist-caption {
		display: block;
	}

	/* overall mediaelement overrides */
	.wp-playlist {
		background: inherit !important;
		color: inherit !important;
		border: inherit !important;
	}

	.radio-content {
		padding: inherit !important;
	}
	/* fixing now playing image */
	.wp-playlist-current-item > img {
			max-width: 60px !important;
			height: 60px !important;
			width: 60px !important;
	}

	.wp-playlist-current-item {
		position: fixed !important;
		top: 80px;
		z-index: 5;
	}
	.mejs-container {
		position: fixed !important;
		top: 154px;
		z-index: 5;
	}
	.wp-playlist-tracks {
		overflow: hidden;
		margin-top: 169px !important;
		z-index: 1;
	}

}
/* scrolling tracks */
.fest13-radio-fixed-scrolling-fix {
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	height: 8em;
	z-index: 3;
	background: #307f87;
	margin: 0 auto;
}

.fest13-radio-fixed-header {
	background-color: #c76cab;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	max-width: 960px;
	z-index: 5;
	margin: 0 auto;

}
.fest13-radio-fixed-header-logo {
	position: absolute;
	top: 0;
	left: 0;

	img {
		width: 50%;
		margin-top: 6%;
		margin-left: 5%;
	}
}
.fest13-radio-fixed-header-link {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;

	img {
		width: 60%;
		margin-top: 6%;
		margin-right: 5%;
	}
}

@media only screen 
and (min-width : 960px) {
	.fest13-radio-fixed-scrolling-fix {
		max-width: 960px;
	}
	.wp-playlist-tracks {
		margin-top: 7.5em !important;
	}


	.fest13-radio-fixed-header-logo,
	.fest13-radio-fixed-header-link {
		img {
			width: 100%;
			margin: inherit;
		}
	}
}
