body {
	background: 
		url('img/stars.png') center top repeat,
		url('img/background.png') center top repeat-x #0f080d;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
		font-size: 15px;
}

b, strong { font-weight: 800; }

.container, .container-fluid {
	padding: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}

.img-full-width {
	width: 100%;
}