body {
	background: 
		url('img/stars.png') center top repeat,
		url('img/background.png') center top repeat-x #0f080d;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
		font-size: 15px;
}
b, strong { font-weight: 800; }
.container, .container-fluid {
	padding: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}

.img-full-width {
	width: 100%;
}
/* HEADER */
#fest-tier-one-sponsors {
	background: rgb(199, 108, 171); /* Fall-back for browsers that don't support rgba */
	background: rgba(199, 108, 171, .9);
	padding: 4px 0 6px;
	text-align: center;
}
.main-sponsor img {
	margin: 0 auto;
}

#fest-splash {
	background: rgb(15, 8, 13); /* Fall-back for browsers that don't support rgba */
	background-color: rgba(15, 8, 13, .8);
	opacity: 1;
	z-index: 5;
}
#fest-splash img {
	margin: 0 0 16px;
}

/* NAV */
@media (min-width: 480px) {
	.container {
		width: 100%;
	}
	.navbar-brand {
		display: inherit;
	}
}
@media (min-width: 960px) {
	.container {
		width: 960px;
	}
	.navbar-brand {
		display: none;
	}
}

/* some reset stuff */
#fest-nav-collapse {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 6px 4px;
	z-index: 10;
}
.navbar {
	background: rgb(15, 8, 13); /* Fall-back for browsers that don't support rgba */
	background: rgba(15, 8, 13, 0.8);
	border: 0px;
	margin-bottom: 0;
	margin-top: -84px;
	z-index: 10;
}
.navbar-nav.navbar-right:last-child {
	margin-right: 0;
}
.nav > li > a {
	padding: 2px 8px;
	font-size: 16px;
	line-height: 24px;
}
.navbar-nav {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
}

#fest-nav-1 li:nth-child(even) a { color: #e79ac3; }
#fest-nav-1 li:nth-child(odd) a { color: #c96eac; }
#fest-nav-2 li:nth-child(even) a { color: #c96eac; }
#fest-nav-2 li:nth-child(odd) a { color: #e79ac3; }
#fest-nav-3 a {
	color: #fff;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .current-menu-item a{
	color: #555 !important;
	background-color: #e7e7e7 !important;
}



/* CONTENT */
#content {
	color: #fff;
	font-family: 'Open Sans', sans-serif;;
}
#content a {
	color: #ede33d;
	font-weight: 700;
	text-decoration: underline;
}
#content-column {
	min-height: 666px;
	background: #307f87;
	padding: 12px 32px 16px;
}
#content-column img {
	max-width: 100%;
}
#content-column {
	font-size: 14px;
}
#sidebar-column {
	background: #183e42;
}

.page-header {
	margin: 32px 0 24px;
}

.page-header h1 {
	color: #ede33d;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}


.post {
	border-bottom: 1px solid #fff;
	padding-bottom: 12px;
	margin-bottom: 24px;
}
.post:last-child {
	border-bottom: none;
}

.post-title {
	color: #ede33d;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
}

.post-author {
	margin: -6px 0 12px;
	font-size: 11px;
	font-style: italic;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.post-category {
	font-size: 11px;
	margin: 0 auto;
	text-align: right;
}

/* SIDEBAR */
hr.widget-divider {
	margin-top: 24px;
	margin-bottom: 24px;
	border: 0;
	border-top: 4px solid #142527;
	border-top: 1px solid #fff;
	width: 66.6%;
}
.widget-divider:last-child {
	display: none;
}
.widget-area {
	margin: 32px 0 64px;
}

.widget h4 {
	background: #0c1f21;
	display: inline-block;
	text-transform: uppercase;
	cursor: default;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 25px;
	padding: 8px 12px;
	margin: -8px 0 16px;
}

.widget a {
	font-size: 13px;
}

.widget_wp_fest13_featured_band_widget .bands-image-container {
	height: 216px;
}
.widget_wp_fest13_featured_band_widget .bands-name {
	font-size: 18px;
}
.widget_wp_fest13_featured_band_widget .bands-hometown {
	font-size: 11px;
}

.social-media-sidebar img {
	/* border-top: 2px solid #0c1f21;
	border-bottom: 2px solid #0c1f21; */
	margin-right: -3px;
	padding: 4px 12px;
}
.social-media-sidebar img:hover {
	background-color: #c76cab;
}
.fest-flickr-item {
    height: 68px; 
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border: 1px solid #fff;
}
.fest-flickr-item:first-child {
    border-radius: 1px;
}

.fest-flickr-item img {
   min-height: 100%;
   min-width: 100%;

   /* IE 8 */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   /* IE 5-7 */
   filter: alpha(opacity=0);
   /* modern browsers */
   opacity: 0;
}

.widget_wp_fest13_featured_band_widget .band {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
}

/* FOOTER */
#fest-footer {
	background: #c76cab;
	height: 96px;
	padding: 0 18px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #fff;
}
#fest-footer .site-info a {
	color: #fff;
	font-weight: 800;
}
#fest-footer .site-info, #fest-footer .site-info a {
	font-size: 14px;
}
@media (min-width: 480px) {
	#fest-footer {
		height: 64px;
	}
	#fest-footer .social-media {
		text-align: left;
		margin-top: 8px;
	}
	#fest-footer .site-info {
		text-align: right;
		margin-top: 10px;
	}
}

#fest-tier-two-sponsors, #fest-tier-three-sponsors {
	margin: 24px 0;
	text-align: center;
}

/* BANDS */
.band {
	margin-bottom: 16px;
}
.bands-image-container {
    height: 160px;
    overflow: hidden;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.bands-name-container {
	margin-top: -60px;
	margin-left: 0px;
}
.bands-hometown-container {
	margin-top: -14px;
	margin-left: 0px;
}
.bands-name { 
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	text-decoration: none !important;
	background-color: #0c1f21;
	display: inline-block;
	padding: 6px 8px;
	margin-right: 8px;
}
.bands-hometown {
	text-transform: uppercase;
	color: #fff !important;
	text-decoration: none !important;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
	background-color: #0c1f21;
	display: inline-block;
	padding: 6px 8px;
	margin-right: 8px;
}

/* BAND TOOLS */
#bands-tools {
	margin-bottom: 24px;
}
.filter-prefest {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	text-align: right;
	font-weight: 800;
}
#prefest-checkbox {
	margin-left: 8px;
	background: url('img/checkbox_sprite.png') left top no-repeat;
	width: 20px;
	height: 20px;
	border: 0;
}
#prefest-checkbox.active {
	background-position: -20px 0;
}


.bands-search {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	text-align: right;
	font-weight: 800;
}
input#band-search {
	margin-left: 8px;
	color: #0f080d;
	border: 2px solid #7f8078;
	background-color: #fff;
	padding: 4px;
	text-transform: uppercase;
}

/* BAND */
.band-content {}
.band-sidebar {}

.band-content .post-title {
	background-color: #0c1f21;
	display: inline-block;
	padding: 8px 12px;
	margin-right: 8px;
	cursor: default;
}
.band-content .hometown {
	background-color: #0c1f21;
	display: inline-block;
	padding: 8px 12px;
	margin-top: -12px;
	text-transform: uppercase;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	cursor: default;
}
.band-sidebar-websites {
	word-break: break-word;
	font-size: 14px;
}


/* responsive */
@media only screen 
and (min-width : 700px) 
and (max-width : 769px) {
	#fest-footer .site-info {
		margin-top: -44px;
	}
	#fest-tier-one-sponsors a img {
		height: 75px;
	}
	#fest-tier-two-sponsors a img {
		height: 60px;
	}
	#fest-tier-three-sponsors a img {
		height: 45px;
	}
}


@media only screen 
and (min-width : 480px) 
and (max-width : 699px) {
	footer .social-media img {
		height: 32px;
	}
	#fest-footer .site-info {
		margin-top: -44px;
	}
	#fest-tier-one-sponsors a img {
		height: 50px;
	}
	#fest-tier-two-sponsors a img {
		height: 32px;
	}
	#fest-tier-three-sponsors a img {
		height: 24px;
	}
	.nav li a {
		font-size: 13px;
		padding: 2px 5px;
	}
	.navbar {
		margin-top: -40px;
	}
}
@media only screen 
and (min-width : 320px) 
and (max-width : 479px) {

	.bands-search {
		margin-top: 12px;
		text-align: left;
	}
	#band-search {
		margin: 0;
		width: 100%;
	}


	footer .social-media img {
		height: 32px;
		margin-bottom: 8px;
	}
	#fest-footer .site-info, #fest-footer .site-info a {
		font-size: 12px;
	}
	#fest-tier-one-sponsors a img {
		height: 32px;
	}
	#fest-tier-two-sponsors a img {
		height: 28px;
	}
	#fest-tier-three-sponsors a img {
		height: 24px;
	}
	.navbar {
		margin-top: -48px;
	}
}

@media only screen 
and (min-width : 770px) 
and (max-width : 990px) {
	#fest-footer .site-info {
		margin-top: 10px;
	}
}
@media only screen 
and (min-width : 481px) 
and (max-width : 699px) {
	#fest-footer .site-info {
		margin-top: -32px;
		font-size: 12px;
	}
}