.woocommerce.widget_shopping_cart {
	ul.cart_list {
		li {
			dl {
				border: none;
				padding-left: 0;
			}
		}
	}

	h4 {
		background: $green;
		margin-bottom: 0;
		padding-left: 0;
		margin-left: 0;
		border-bottom: 1px solid $greenDark;
		width: 100%;
		color: $yellow;
	}
}
