.page-template-page-templatesstore-php {

	.content-container {
		background-color: $green;
	}
	#content {
		#content-column {
			min-height: 930px;

			.onsale {
				@include linear-gradient( $purple, $purpleDark );
				color: $yellow;
			}

			a {
				text-decoration: none;

				&:hover {
						text-decoration: underline;
				}
			}

			a.button {
				@include fest-btn;
			}

			.price {
				color: $yellow;

				del {
					color: $gray;
				}
			}

			ul.nav {
				border-bottom: 1px solid $greenDark; 
				margin-bottom: 20px;
				li {
					margin-bottom: -2px;
					margin-right: 8px;
					&.active {
						a {
							background-color: $greenDark;
							border: none;
							pointer-events: none;
						}
					}

					a {

						text-decoration: none;

						&:hover {
							background-color: $greenDark;
							border: 1px solid $greenDark;
						}
					}
				}
			}

			.woocommerce {
				@include inline;
				vertical-align: top;
				width: 100%;

				ul.products {
					text-align: center;

					li.product {
						width: 100%;

						img.wp-post-image {
							display: none;
						}
					}
				}
			}

			.single-day-tickets {

				.single-day-ticket {
					color: $white;
					padding-top: 20px;
					border-bottom: 1px solid $white;

					.ticket-thumbnail {
						text-align: center;
					}

					.content {
						margin: 10px auto;
						width: 360px;

						> div > div > ul {
							list-style-type: none;
						}
					}

					.woocommerce {
						margin-top: 10px;

						ul {
							margin: 0;
						}
					}
				}
			}
		}
	}
}
